<html>
    <head>
              <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
          
    
    </head>

    <body class=" teal darken-3">
    <nav>
        <div class="nav-wrapper deep-orange accent-3">
            <a href="#" class="brand-logo center">King of Soccer</a>
            <ul class="left hide-on-med-and-down">
            <li><a href="{%url "login"%}"><i class="material-icons left">reply</i>Salir</a></li>
            </ul>
        </div>
    </nav>
    
    <form action="{% url 'create'%}" method="POST">
            {% csrf_token %}
            <br>
            <br>
            <br>
            <br>
            <br>
            <div  class="row">
                <from class="col s12 offset-s3">
                    <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                        <input align="center" id="username" type="text" class="validate" name="usuario" data-length="20">
                        <label for="username">Nombre de usuario</label>
                    </div> 
                
                </from>
                <from class="col s12 offset-s3">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input align="right" id="email" type="text" class="validate" name="email">
                        <label for="email">Email</label>
                    </div>     
                
                </from>
                <from class="col s12 offset-s3">
                    <div class="input-field col s6">
                            <i class="material-icons prefix">lock</i>
                            <input align="right" id="password" type="password" class="validate" name="contrasenia" data-length="30">
                        <label for="password">Contraseña</label>
                    </div>
                </from>


                
        <center><button class="btn waves-effect waves-light cyan darken-3" type="submit" value="Crear" name="action">Crear
                <i class="tiny material-icons right">person_add</i>
              </button></center>
        </div>
        </form>
            </body>

<script>
    
  $(document).ready(function() {
    $('select').material_select();
  });
          
        
        </script>



</html>