<html>
    <head>
          <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <style>

        .brand-logo{
	font-weight:900;
}

.dropdown-content {
  background-color: " ";
  margin: 0;
  display: none;
  min-width: 300px; /* Changed this to accomodate content width */
  max-height: auto;
	margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}


.parallax-container {    
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  height: 50%; 

}
    
        </style>
  
</head>
    <body class=" teal darken-4">

        <ul id='dropdown1' class='dropdown-content grey darken-4'>
            <li><a href="{%url "inicio"%}"><i class="material-icons">blur_on</i>inicio</a></li>
            <li><a href="{%url "login"%}"><i class="material-icons">power_settings_new</i>cerrar sesion</a></li>
          </ul>

    <div class="navbar-fixed">      
      <nav class="teal darken-3">
            <div class="nav-wrapper">
                <a href="{%url "inicio"%}" class="brand-logo center"><i class="medium material-icons"></i>King of Soccer</a>
                <ul class="left hide-on-med-and-down">
              <li><a href="mobile.html" class="dropdown-button" data-activates='dropdown1' ><i class="material-icons">menu</i></a></li>
             </ul>                             
             <div class="row">
                <form class="col s4 ">
                  <div class="input-field ">
                    <input id="search" type="search" required name="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                  </div>
                </form>
              </div>  
        
            </div>
          </nav>
      </div>

      <div class="parallax-container">
        <div class="parallax"><img src="http://todoimagenes.co/wp-content/uploads/2012/06/portada-selecci%C3%B3n-argentina-de-futbol.jpg"></div>
      </div>
      <div class="row" >
      {% for lugar in todos_los_lugares %}
      
        <div class="col s8 m4 searchable" data-nombre="{{lugar.nombre}}">
          <div class="card hoverable">
            <div class="card-image">
              <img src="https://lh3.googleusercontent.com/-P7YFY6_rKJc/Vcn-ePNDtHI/AAAAAAAATgQ/5GjgwggnQQo/s0-d/ae43451b61.png">
              <span class="card-title">{{ lugar.nombre }}</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
           </div>
            
          </div>
        </div>
          {% endfor %}
        </div>
    </body>
    <script>
          $(document).ready(function(){
      $('.parallax').parallax();
    });


    $('.dropdown-button').dropdown({
      inDuration: 500,
      outDuration: 400,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: true, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
  );


    $(document).on("keyup","#search",function(){
      var name_inserted = $("#search").val();      
      $(".searchable").each(function(){                
        if ($(this).data("nombre").includes(name_inserted)){          
          $(this).fadeIn(1000);
        }else{          
          $(this).fadeOut(2000);
        }
      });

    });
    

      </script>
</html>